node_modules/
dist/
output/
.env
.env.local
*.log
.DS_Store
Thumbs.db
.bmad-core
.claude/commands/BMad
docs/
CLAUDE.md

# Next.js
.next/
out/

# Prisma
prisma/*.db

# Misc
temp_grid.png
chi_sim.traineddata

build

resource
